body{
    background-color: black;
    background-image: url("imagenes/fondo-estrellado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}